*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

#MAVEN
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

#INTELLIJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

#ECLIPSE
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

#NETBEANS
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

#VS CODE (Cũ của bạn)
.vscode/

#OS
.DS_Store
Thumbs.db